<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('components/utility.ejs') %>
    <title>ลงทะเบียน</title>
</head>
<body>
    <div class="min-h-screen flex justify-center items-center bg-gray-50">
        <div class="w-full max-w-md">
            <div class="rounded-lg border bg-white text-[#222] shadow-sm">
                <div class="flex flex-col pt-6">
                    <h3 class="whitespace-nowrap tracking-tight text-2xl font-semibold text-center">ลืมรหัสผ่าน</h3>
                </div>
                <div class="p-6">
                    <form action="/forgotpassword" method="post" class="space-y-4">
                        <div class="space-y-2">
                            <label for="fullname" class="text-sm font-medium leading-none">ชื่อ-นามสกุล *</label>
                            <input type="text" name="username" id="fullname" class="flex h-10 w-full rounded-md
                            border bg-gray-50 px-3 py-2 text-sm focus:outline-none" required>
                        </div>
                        <div class="space-y-2">
                            <label for="username" class="text-sm font-medium leading-none">เบอร์โทร *</label>
                            <input type="tel" name="phone" id="username" class="flex h-10 w-full rounded-md
                            border bg-gray-50 px-3 py-2 text-sm focus:outline-none" required>
                        </div>
                        <div class="space-y-2">
                            <input type="submit" value="ถัดไป" class="w-full h-10 rounded-md border bg-[#222]
                            text-white hover:text-[#F4BF14] transition-all focus:outline-none cursor-pointer ">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>