<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('components/utility.ejs') %>
    <title>ประวัติการสั่งซื้อ | สหกรณ์เรือนจำ</title>
</head>
<body class="bg-gray-50">
    <!-- navbar -->
    <%- include('components/navbar.ejs', { userName: 'เข้าสู่ระบบ', orderCount: '12' }) %>
    <div class="container mx-auto text-center py-10 font-semibold text-[#222] text-4xl">
        ประวัติการสั่งซื้อ
    </div>
    <div class="container mx-auto px-4 mb-4">
        <div class="flex flex-col">
            <!-- cart header -->
            <div class="flex items-center bg-white gap-4 py-2 px-4 rounded-[0.375rem_0.375rem_0_0] font-semibold border">
                <div class="w-1/4 text-center">รหัสการสั่งซื้อ</div>
                <div class="w-1/4 text-center">วันที่สั่งซื้อ</div>
                <div class="w-1/4 text-center">ผู้รับ</div>
                <div class="w-1/4 text-center">ดำเนินการ</div>
            </div>
            <!-- cart item -->
            <% for(let i = 0; i < order.length; i++) { %>
                <%- include('components/historyItems.ejs', {
                    orderid: order[i].orderid,
                    orderID: 'ORD-' + order[i].orderid,
                    orderDate: new Date(order[i].createdAt).getDay() + '/' + new Date(order[i].createdAt).getMonth() + '/' + new Date(order[i].createdAt).getFullYear() + ' ' + new Date(order[i].createdAt).getHours() + ':' + new Date(order[i].createdAt).getMinutes() + 'น.',
                    PrisonerName: order[i].prisoner,
                }) %>
            <% } %>
            <!-- divider cart items -->
            <div class="w-full py-2 rounded-[0_0_0.375rem_0.375rem] bg-white mb-4 border-b border-x"></div>
        </div>
    </div>

</body>
</html>