<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('components/utility.ejs') %>
    <title>Document</title>
</head>
<body class="bg-gray-50">
    <!-- navbar -->
    <%- include('components/navbar.ejs') %>
    <div class="container mx-auto text-center py-6 font-semibold text-[#222] text-4xl">
        จัดการสินค้า
    </div>
    <div class="container mx-auto">
        <div class="flex items-center bg-white gap-4 py-2 px-4 rounded-[0.375rem_0.375rem_0_0] whitespace-nowrap font-semibold border-t border-x">
            <div class="w-1/2 text-center">สินค้า</div>
            <div class="w-1/6 text-center">หมวดหมู่</div>
            <div class="w-1/6 text-center">ราคา</div>
            <div class="w-1/6 text-center">ดำเนินการ</div>
        </div>
    </div>

    <div class="container mx-auto">
        <% for(let i = 0; i < products.length; i++) { 
            let thaicategory = '';
            if(products[i].productcategory == 'foods') {
                thaicategory = 'อาหาร';
            } else if(products[i].productcategory == 'drinks') {
                thaicategory = 'เครื่องดื่ม';
            } else if(products[i].productcategory == 'items') {
                thaicategory = 'เครื่องใช้';
            } else if(products[i].productcategory == 'clothes') {
                thaicategory = 'เสื้อผ้า';
            } else if(products[i].productcategory == 'medicine') {
                thaicategory = 'ยาสามัญ';
            } else if(products[i].productcategory == 'stationery') {
                thaicategory = 'เครื่องเขียน';
            }
            %>
            <%- include('components/manageproductitems.ejs', {
                productId: products[i].productid,
                productName: products[i].productname, 
                category: thaicategory,
                price: products[i].productprice,
                imgurl: products[i].imgurl
                }) %>
        <% } %>
        <div class="w-full py-2 rounded-[0_0_0.375rem_0.375rem] bg-white mb-4 border"></div>

        <div class="flex justify-center items-center mb-10">
            <a href="/addproduct" class="bg-[#222] text-white text-xl hover:text-[#F4BF14] px-4 py-2 rounded-md transition-all">เพิ่มสินค้าเข้าสู่ระบบ</a>
        </div>
    </div>
</body>
</html>