<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('components/utility.ejs') %>
    <title>Document</title>
</head>
<body>
    <!-- navbar -->
    <%- include('components/navbar.ejs', { userName: 'เข้าสู่ระบบ', orderCount: '12' }) %>
    <div class="container mx-auto text-center py-10 font-semibold text-[#222] text-4xl">
        จัดการสินค้า
    </div>
</body>
</html>