<div class="w-full border-t bg-white">
    <div class="container mx-auto flex flex-col justify-center items-center p-6 opacity-50">
        <p class="text-center">เว็ปไซต์นี้จัดทำเพื่อให้ผู้ที่ต้องการซื้อสินค้าของร้านค้าเรือนจำ สะดวกต่อการซื้อสินค้าให้แก่นักโทษภายในเรือนจำ เพื่อความปลอดภัยและเป็นรายได้ของให้แก่เรือนจำ</p>
    </div>
</div>