<div id="navbar" class="sticky top-0 w-full bg-white border-b text-[#222] py-4 transition-all z-[999]">
    <nav class="container mx-auto flex justify-between items-center px-6 lg:px-4">
        <a href="/"><h1 class="text-2xl font-semibold">สหกรณ์เรือนจำ</h1></a>
        <!-- mobile btn -->
        <div id="mobile-btn" class="flex items-center lg:hidden cursor-pointer">
            <ion-icon name="menu-sharp" class="text-3xl"></ion-icon>
        </div>
        <ul class="hidden lg:flex items-center gap-8 font-semibold">
            <li class="hover:text-[#F4BF14] hover:drop-shadow-md transition-all"><a href="/">หน้าแรก</a></li>
            <li class="hover:text-[#F4BF14] hover:drop-shadow-md transition-all"><a href="/product">สินค้า</a></li>
            <li class="hover:text-[#F4BF14] hover:drop-shadow-md transition-all"><a href="/history">ประวัติการสั่งซื้อ</a></li>
            <% if(data != null) { %>
                <% if(data.data.role === 'admin') { %>
                    <li class="hover:text-[#F4BF14] hover:drop-shadow-md transition-all"><a href="/manageproduct">จัดการสินค้า</a></li>
                    <li class="hover:text-[#F4BF14] hover:drop-shadow-md transition-all"><a href="/profile" class="flex items-center gap-1">
                        <ion-icon name="person"></ion-icon> <span><%= data.data.username %></span>
                    </a></li>
                    <li class="hover:text-center hover:drop-shadow-md transition-all" id="login-btn"><a id="logout-btn" href="/logout" class="bg-[#222] text-white hover:text-[#F4BF14] px-2 py-1 rounded-md transition-all">ออกจากระบบ</a></li>
                <% } else { %>
                    <% if(cartlength > 0) { %>
                        <li class="hover:text-[#F4BF14] hover:drop-shadow-md transition-all"><a href="/cart" class="flex items-center gap-1">
                            <ion-icon name="cart"></ion-icon> <span>ตะกร้าสินค้า</span>
                        </a></li>
                    <% } else { %>
                        <li class="hover:text-[#F4BF14] hover:drop-shadow-md transition-all"><a href="#" onclick="alert('ไม่มีสินค้าในตระกร้า')" class="flex items-center gap-1">
                            <ion-icon name="cart"></ion-icon> <span>ตะกร้าสินค้า</span>
                        </a></li>
                    <% } %>
                    <li class="hover:text-[#F4BF14] hover:drop-shadow-md transition-all"><a href="/profile" class="flex items-center gap-1">
                        <ion-icon name="person"></ion-icon> <span><%= data.data.username %></span>
                    </a></li>
                    <li class="hover:text-center hover:drop-shadow-md transition-all" id="login-btn"><a id="logout-btn" href="/logout" class="bg-[#222] text-white hover:text-[#F4BF14] px-2 py-1 rounded-md transition-all">ออกจากระบบ</a></li>
                <% } %>
            <% } else { %>
                <li class="hover:text-[#F4BF14] hover:drop-shadow-md transition-all"><a href="/cart" class="flex items-center gap-1">
                    <ion-icon name="cart"></ion-icon> <span>ตะกร้าสินค้า</span></span>
                </a></li>
                <li class="hover:text-center hover:drop-shadow-md transition-all" id="login-btn"><a href="/login" class="bg-[#222] text-white hover:text-[#F4BF14] px-2 py-1 rounded-md transition-all">เข้าสู่ระบบ</a></li>
            <% } %>
        </ul>
    </nav>
    <!-- mobile nav menu -->
    <div id="mobile-menu" class="hidden lg:hidden bg-white bg-opacity-50 backdrop-blur-md w-full h-full fixed top-0 left-0 z-[-1] transition-all">
        <div class="flex flex-col justify-center items-center h-full w-full px-8">
            <a href="/" class="text-2xl font-semibold p-4 hover:text-[#F4BF14] transition-all">หน้าแรก</a>
            <hr id="underline-mobilenav" class="w-full opacity-50"/>
            <a href="/product" class="text-2xl font-semibold p-4 hover:text-[#F4BF14] transition-all">สินค้า</a>
            <hr id="underline-mobilenav" class="w-full opacity-50"/>
            <a href="/history" class="text-2xl font-semibold p-4 hover:text-[#F4BF14] transition-all">ประวัติการสั่งซื้อ</a>
            <hr id="underline-mobilenav" class="w-full opacity-50"/>
            <% if(data != null) { %>
                <% if(data.data.role == 'admin') { %>
                    <a href="/manageproduct" class="text-2xl font-semibold p-4 hover:text-[#F4BF14] transition-all">จัดการสินค้า</a>
                    <hr id="underline-mobilenav" class="w-full opacity-50"/>
                    <hr id="underline-mobilenav" class="w-full opacity-50"/>
                <% } else { %>
                    <a href="/cart" class="text-2xl font-semibold p-4 hover:text-[#F4BF14] transition-all">ตะกร้าสินค้า</a>
                    <hr id="underline-mobilenav" class="w-full opacity-50"/>
                    <% } %> 
                <a href="/profile" class="text-2xl font-semibold p-4 hover:text-[#F4BF14] transition-all"> <%= data.data.username %> </a>
                <hr id="underline-mobilenav" class="w-full opacity-50"/>
                <a href="/logout" class="text-2xl font-semibold p-4 hover:text-[#F4BF14] transition-all">ออกจากระบบ</a>
            <% } else { %>
                <a href="/login" class="text-2xl font-semibold p-4 hover:text-[#F4BF14] transition-all">เข้าสู่ระบบ</a>
            <% } %>
            
        </div>
    </div>
</div>

<script>
    const mobileBtn = document.getElementById('mobile-btn');
    const mobileMenu = document.getElementById('mobile-menu');

        // Mobile menu
    mobileBtn.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');

        if(mobileMenu.classList.contains('hidden')) {
            mobileBtn.innerHTML = '<ion-icon name="menu-sharp" class="text-3xl"></ion-icon>';
        } else {
            mobileBtn.innerHTML = '<ion-icon name="close-sharp" class="text-3xl"></ion-icon>';
        }

        // Close mobile menu when click a link
        mobileMenu.addEventListener('click', (e) => {
            if(e.target.tagName === 'A') {
                mobileMenu.classList.add('hidden');
                mobileBtn.innerHTML = '<ion-icon name="menu-sharp" class="text-3xl"></ion-icon>';
            }
        });
    });
</script>