<!-- cart items -->
<div class="flex items-center bg-white gap-4 py-2 px-4 border-t border-x hover:bg-gray-100 transition-all">
    <div class="w-1/2 flex items-center gap-4">
        <img src="https://www.sahapat.co.th/product/assets/uploads/img/product/image_th/20190813095437_2533675D-CF0C-4BA0-B11D-B06B1883F33C.png" alt="product" class="w-12 h-12 object-cover rounded-md">
        <div>
            <div class="text-lg"><%= productName %></div>
            <!-- <div class="text-sm text-[#666]">รายละเอียดสินค้า</div> -->
        </div>
    </div>
    <div class="w-1/6 text-center">฿ <%= price %></div>
    <div class="w-1/6 text-center">1</div>
    <div class="w-1/6 text-center">฿ <span id="total<%= i %>"><%= total %></span></div>
</div>

